snippet cod "code snippet"
``` $1
$2

```
endsnippet

snippet meta "meta data"
---
title: $1
author: $2
numbersections: true
numberEqnLabels: ${3:false}
geometry:
- top=30mm
- left=20mm
- right=20mm
- bottom=30mm
header-includes: |
	\usepackage{float}
	\let\origfigure\figure
	\let\endorigfigure\endfigure
	\renewenvironment{figure}[1][2]{
		\expandafter\origfigure\expandafter[H]
	}{
		\endorigfigure
	}
---
endsnippet

snippet uml "make uml diagram with plantuml"
```plantuml
$1
```
endsnippet
